---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Image } from "@astrojs/image/components";

const TeamImg1 =
  "https://images.unsplash.com/photo-1580489944761-15a19d654956?&fit=crop&w=280";
const TeamImg2 =
  "https://images.unsplash.com/photo-1633332755192-727a05c4013d?&fit=crop&w=280";
const TeamImg3 =
  "https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?&fit=crop&w=280";

const team = [
  // {
  //   name: "Sofía Rengifo",
  //   title: "Senior Director",
  //   avatar: {
  //     src: TeamImg1,
  //     width: 480,
  //     height: 560,
  //   },
  // },
  // {
  //   name: "Jean Reyes",
  //   title: "Principal Strategist",
  //   avatar: {
  //     src: TeamImg2,
  //     width: 580,
  //     height: 580,
  //   },
  // },
  // {
  //   name: "Carlo Razzeto",
  //   title: "Marketing Engineer",
  //   avatar: {
  //     src: TeamImg3,
  //     width: 580,
  //     height: 580,
  //   },
  // },
];
---

<Layout title="Acerca de">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Acerca de EGO Calzado</Fragment>
      <Fragment slot="desc">Calzado para ellas</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <center>
        <img src="https://scontent-lim1-1.xx.fbcdn.net/v/t39.30808-6/263749370_1094008901141585_2544136936142628773_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGaSTSRoTgjb8-wMfqQrAtcr0qPGyyppJ6vSo8bLKmknnu2-MuwoQlRSIFJ7Rm5FMb7MuQFfoFqD25_hqkb5QdI&_nc_ohc=eMy5_ZNtwFQAX_4J-Ue&tn=ZL8z6FtY8q9asoIX&_nc_ht=scontent-lim1-1.xx&oh=00_AfBJz1E3Ns8OiS6DPT-bSE1EmVkrpyF-fFuf0jZTDnTC1w&oe=639F1095" alt="" width="300">
      </center><br>
      <h2 class="font-bold text-3xl text-gray-800">
        Zapatos de cuero, hechos para durar
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Somos una empresa dedicada a la creación y venta de calzado femenino de alta calidad.
        Nos enorgullece ofrecer zapatos que combinan elegancia, comodidad y estilo en una sola pieza.
        Trabajamos con los mejores diseñadores y fabricantes para asegurarnos de que cada uno de nuestros zapatos sea una obra de arte para los pies.
        Nos esforzamos por brindar un servicio excepcional a nuestras clientes y estamos comprometidos con la satisfacción de sus necesidades.
        Si estás buscando calzado femenino de calidad, no dudes en visitar nuestra página de facebook o en nuestras tiendas físicas. Estamos seguros de que encontrarás lo que buscas.
      </p>
      
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        team.map((item) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Image
                {...item.avatar}
                format="avif"
                alt="Team"
                class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800"> {item.name}</h2>
              <h3 class="text-sm text-slate-500"> {item.title}</h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
