---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contacto">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contacto</Fragment>
      <Fragment slot="desc">Aquí somos nosotros quienes te ayudamos</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contacto EGOcalzado</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          ¿Tener algo que decir? Estamos aquí para ayudarte.
          Rellena el formulario o has click en cualquiera de estos medios 🢃
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Trujillo</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <a href="mailto:ego_admi@hotmail.com">ego_admi@hotmail.com</a>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:whatsapp"/>
            <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D51994262597%26app%3Dfacebook%26entry_point%3Dpage_cta%26fbclid%3DIwAR35uhIvdcgE12ne-m97zeprlRaHZSk1uBqvDnKILKfbT_4W9othKqNwUbg&h=AT14SgAtAUvS64oadROnnf8Ruxvprt-PqNsFkaA_VHm-p2p2PdV04vGLm4rubVEY98obPxzz8ulTbd6Lckr5jQjKvyNUWYVieFq3kuMwSGkZ5-EfdntuFG_5U7g2tm8ZBZkBM2yhEnKcQ-R4CjxL7g">Whatsapp</a>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:instagram"/>
            <a href="https://l.facebook.com/l.php?u=http%3A%2F%2Finstagram.com%2Fego.calzadoperu%3Ffbclid%3DIwAR2t3Yhh09IIHXhPAuwsr4hwpDyLndKbd0sUJqcJZl9T1bTtUEKxwlQuBXc&h=AT14SgAtAUvS64oadROnnf8Ruxvprt-PqNsFkaA_VHm-p2p2PdV04vGLm4rubVEY98obPxzz8ulTbd6Lckr5jQjKvyNUWYVieFq3kuMwSGkZ5-EfdntuFG_5U7g2tm8ZBZkBM2yhEnKcQ-R4CjxL7g">Instagram</a>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:facebook"/>
            <a href="https://www.facebook.com/ego.calzadoperu">Facebook</a>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone"/>
            <a href="tel:+51 994 262 597">+51 994 262 597</a>
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
