---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";
import Link from "../components/ui/link.astro";

const pricing = [
  {
    name: "Oxford reptile",
    price: "S/280,00",
    popular: true,
    image: "https://scontent-lim1-1.xx.fbcdn.net/v/t45.5328-9/315608248_5660845964022466_8632260033288519668_n.jpg?stp=dst-jpg_p180x540&_nc_cat=102&ccb=1-7&_nc_sid=c48759&_nc_eui2=AeE7LlkYD560vzngkc8YF4JZAwZY3DvypvUDBljcO_Km9Z-EHB6JHFIKyCBO5WK4bdN6j56YS8KNMtKGOUOI5Nzc&_nc_ohc=DB1NxXOA6DUAX9oklNx&_nc_ht=scontent-lim1-1.xx&oh=00_AfAJVwIFYEb9wA9x-0x8bzwDysUU_99DzAaETHZt9To_PQ&oe=63A0FADF",
    features: [
      "Folia Reptil",
      "100% cuero",
    ],
    button: {
      text: "Ver",
      link: "https://www.facebook.com/commerce/products/5788073637879978/?referral_code=newsfeed_carousel_ad",
    },
  },
  {
    name: "EGO A-007",
    price: "S/190,00",
    popular: true,
    image: "https://scontent-lim1-1.xx.fbcdn.net/v/t45.5328-9/280747328_5509294565755988_6984174841724109665_n.png?_nc_cat=103&ccb=1-7&_nc_sid=c48759&_nc_eui2=AeHmsi_f3YO1kpptLxYMQ6o0VwVdFPLHQoFXBV0U8sdCgYY7sBvwCL59aD5zojCnkziVjnxfg7TZ9W9nfLyEn6Zi&_nc_ohc=--k3bjWe2QcAX_nD0q5&tn=ZL8z6FtY8q9asoIX&_nc_ht=scontent-lim1-1.xx&oh=00_AfDjfVqYkYzRDmXWCOVVlcmjwIXF56jnQ0axzs5xJp2XcA&oe=63A172D7",
    features: [
      "Cuero Nude",
      "Flores",
    ],
    button: {
      text: "Ver",
      link: "https://www.facebook.com/commerce/products/ego-a-007/4461365630632508?referral_code=newsfeed_carousel_ad",
    },
  },
  {
    name: "EGO 2005",
    price: "S/210,00",
    popular: true,
    image: "https://scontent-lim1-1.xx.fbcdn.net/v/t45.5328-9/287336159_5310297372380985_1934918816052133435_n.jpg?stp=dst-jpg_p180x540&_nc_cat=104&ccb=1-7&_nc_sid=c48759&_nc_eui2=AeGsWVijNlAqd2jOQ-eUUjkOpY9xZzsUeeKlj3FnOxR54vF3_oN75X34qXOe4OyTCFsKdKPJXi4AovEHGoi-nkFB&_nc_ohc=nSbJYrl4POoAX9ykLdH&_nc_ht=scontent-lim1-1.xx&oh=00_AfCFFLRm5fwY_qIGTyLZJbh_dzA6nkvV-taSB1VIdjjl6Q&oe=63A03E17",
    features: [
      "Cuero Folio Negro",
      "Cuero Aterciopelado",
    ],
    button: {
      text: "Ver",
      link: "https://www.facebook.com/commerce/products/ego-2005/5457414074281540?rt=9&ref=page_shop_tab",
    },
  },
  {
    name: "EGO A-010",
    price: "S/290,00",
    popular: true,
    image: "https://scontent-lim1-1.xx.fbcdn.net/v/t45.5328-9/291775978_4136608406463882_5865061670322080614_n.jpg?stp=dst-jpg_p180x540&_nc_cat=105&ccb=1-7&_nc_sid=c48759&_nc_eui2=AeH325ueRUMukSNK8flk3HARKDqUlVUSwrIoOpSVVRLCsveF8J3kvQds21AN2DmDhAksX3RqAILh_AlyVOlWBqkI&_nc_ohc=Nf5h4AzBOooAX8h3jGM&_nc_ht=scontent-lim1-1.xx&oh=00_AfCsWOxHqordFBhXFpF6C7KUF0Sz5VZZhjpdDkNW0Pnu_w&oe=63A1541B",
    features: [
      "Cuero Floter Negro",
    ],
    button: {
      text: "Ver",
      link: "https://www.facebook.com/commerce/products/4882690488502240/?referral_code=newsfeed_carousel_ad",
    },
  },
  {
    name: "EGO-A007",
    price: "S/290,00",
    popular: true,
    image: "https://scontent-lim1-1.xx.fbcdn.net/v/t45.5328-9/280777602_5022219717874843_5302151516976711871_n.png?_nc_cat=108&ccb=1-7&_nc_sid=c48759&_nc_eui2=AeHZ9C8FcBOyPSs50aJo2tILMmgoAyOOxSsyaCgDI47FK2JraooH_8CYsxkp_8Nj91MHJfrxBgjeiS0DpDKyMiyI&_nc_ohc=b6vBqaUU16AAX_58QsO&_nc_ht=scontent-lim1-1.xx&oh=00_AfA7lcSN7eogDAlLRcq3Mnp8uNmTDjRqbaffV8LUcDFJOg&oe=63A0673E",
    features: [
      "Cuero Napa Marfil",
    ],
    button: {
      text: "Ver",
      link: "https://www.facebook.com/commerce/products/5452225668186473/?referral_code=newsfeed_carousel_ad",
    },
  },
  {
    name: "EGO A007",
    price: "S/220,00",
    popular: true,
    image: "https://scontent-lim1-1.xx.fbcdn.net/v/t45.5328-9/280203134_4882546861851272_2739906408426755168_n.png?_nc_cat=104&ccb=1-7&_nc_sid=c48759&_nc_eui2=AeHxL70W2OYMqV6DnW_r6beVIr5lhSJT7QUivmWFIlPtBVrUnDUN4pqqwJw3bIteZg75iBatM-S696p-OFN4ruam&_nc_ohc=VZ1TW2tAQM4AX_yVHHD&tn=ZL8z6FtY8q9asoIX&_nc_ht=scontent-lim1-1.xx&oh=00_AfBZnt0y0Dhp0p_kCjZtMs0JOsWVL-qn95aUdXg2MnSazw&oe=63A09F27",
    features: [
      "Cuero Plata Off",
    ],
    button: {
      text: "Ver",
      link: "https://www.facebook.com/commerce/products/5450408171670868/?referral_code=newsfeed_carousel_ad",
    },
  },
];
---

<Layout title="Zapatos">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Zapatos</Fragment>
      <Fragment slot="desc"
        >Zapatos nuevos buenos y de la mejor calidad</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>

    <div
      class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
      <h2 class="text-white text-4xl md:text-6xl">Conoce todos nuestros productos ahora</h2>
      <p class="text-slate-400 mt-4 text-lg md:text-xl">
        ¡Aprovecha nuestras oferta de calzado y consigue un nuevo par de zapatos ahora mismo!
        Tenemos una gran selección de estilos y marcas para elegir.
        ¿Por qué esperar?
        ¡Haz tu compra ahora y actualiza tu armario de zapatos!
      </p>
      <div class="flex mt-5">
        <Link href="https://www.facebook.com/pg/ego.calzadoperu/shop/?mt_nav=0&msite_tab_async=0&preview=0" style="inverted">Ver Todos los Zapatos</Link>
      </div>
    </div>
  </Container>
</Layout>
