---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Comodidad",
    description:
      "Es una característica importante en el calzado, ya que nadie quiere usar zapatos que les hagan daño o les incomoden.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Calidad",
    description:
      "Es otra característica importante, ya que los zapatos de calidad durarán más tiempo y tendrán un mejor aspecto.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Estilo",
    description:
      "También es importante, ya que la gente quiere usar zapatos que se vean bien y que se adapten a su ropa y a su personalidad.",
    icon: "bx:bxs-data",
  },
  {
    title: "Versatilidad",
    description:
      "Es otra característica importante, ya que la gente quiere zapatos que se puedan usar en diferentes ocasiones y con diferentes atuendos",
    icon: "bx:bxs-bot",
  },
  {
    title: "Funcionalidad",
    description:
      "También es una característica importante, ya que la gente quiere zapatos que sean adecuados para sus necesidades específicas, como zapatos de trabajo, zapatos de senderismo, etc.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Precio",
    description:
      "También es una característica importante, ya que la gente quiere zapatos que sean asequibles y que valgan su dinero",
    icon: "bx:bxs-dollar-circle",
  },
];
---
<!-- <div>
  <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight">
    EGO Calzado
  </h1>
</div> -->
<div class="mt-16 md:mt-0">
  <img src="https://scontent-lim1-1.xx.fbcdn.net/v/t39.30808-6/241433132_1046776195864856_8918685030042731492_n.png?_nc_cat=108&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeG7BQtQW_9eDjnmpV_pk4avSEGPVfqeQZhIQY9V-p5BmJjVgJNXwi2TlIbpx6TgplQITy3ItybR6N5hgr52bO0W&_nc_ohc=e2l-r0_UD30AX8yx8XZ&_nc_ht=scontent-lim1-1.xx&oh=00_AfB85LcL9GnXBMM5AHtJU8_n6SgHWTXsLiB-sIalArwR_g&oe=639FA042" alt=""><br>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Calzado de moda para la mujer que sabe lo que quiere
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    6 Características importantes que debes de tener en cuenta antes de comprar calzado 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
