---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:etsy" />
    <Icon class="h-8 md:h-12" name="simple-icons:groupon" />
    <Icon class="h-8 md:h-14" name="simple-icons:opera" />
  </div>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      El calzado no es un atuendo, es una filosofía
    </h2>
    <img src="https://scontent-lim1-1.xx.fbcdn.net/v/t39.30808-6/319914663_1338552170020589_857691825215472911_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHWS0mFdXGcTlL3Wxl65nCHprLaU_4WhE6mstpT_haETjT3msbfVEWsZvp5E8b7XCuXap6pIWBVg88nxXP9TM95&_nc_ohc=kDOD6HeW0x8AX98m6fH&_nc_ht=scontent-lim1-1.xx&oh=00_AfBUh9psJr_iel6HlZSPTMJjouiM9ca06Cp1bZVRzE01YA&oe=63A12A87"
    alt="imagen4">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Elige sabiamente, elígenos
    </h2>
    <img src="https://scontent-lim1-1.xx.fbcdn.net/v/t39.30808-6/279338086_1181011432441331_3630977870370640640_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeHH-FHx6ws3Jwm5Dk8QM_QFin1uKuIgdhuKfW4q4iB2G0ZIXjQvk_3qYJHoIF2MlfoiN6ID6SF6oAs079f0q8Th&_nc_ohc=bZar8hk3YkEAX8jWzAb&_nc_ht=scontent-lim1-1.xx&oh=00_AfCMfrPtEExltMKIaVhQMdPIqNSCjZZbkp3b0l3Sb4O8iw&oe=63A0AEF0" 
    alt="imagen2">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Di quién eres sin hablar
    </h2>
    <img src="https://scontent-lim1-1.xx.fbcdn.net/v/t39.30808-6/301013811_1260982877777519_107939468859214900_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeH6LnxOGJX4zyUImpU4NpHrtjTwzRcMn2W2NPDNFwyfZfk6QEHo4V1Ml2Ev1GUos7NBkKkG_pkI-cTh8vDRdV--&_nc_ohc=9CgnYIU99Z8AX9WP9A-&tn=ZL8z6FtY8q9asoIX&_nc_ht=scontent-lim1-1.xx&oh=00_AfA9pK96hMXj1ET9G5wrB8-dcRrN2r7-0jwPOgBQ98y4ug&oe=63A01EDE" 
    alt="imagen1">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      El estilo es cuestión de instinto, sigue tu instinto
    </h2>
    <img src="https://scontent-lim1-1.xx.fbcdn.net/v/t39.30808-6/315170295_1315265725682567_447106042135491676_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeGbTtb-Ya21rp214VBr5RxT3hGhO8tYixveEaE7y1iLG3nOMfXhUdTOEOIk6Z-vfKri3JcEHj9cmxIOCevHRv9-&_nc_ohc=2J8dXoT-iPsAX90UKr8&_nc_ht=scontent-lim1-1.xx&oh=00_AfB7djhfKn72M7iiSyAbqUMU5L9w3JqbePwB1cJm0rndYw&oe=63A06B5B"
    alt="imagen3">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Construye tu mejor versión
    </h2>
    <img src="https://scontent-lim1-1.xx.fbcdn.net/v/t39.30808-6/309118917_1284116965464110_5483431935216602090_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeFwCzKiROp5psq_DEcYdFjzYtJADsAyYyZi0kAOwDJjJj4hLfuypsTaCVjXHHAdr_PxTtp-Sj66T9Bi4WS9mgaK&_nc_ohc=S3N-uLYdR8wAX_cTxfg&_nc_ht=scontent-lim1-1.xx&oh=00_AfCMmGE0TCVZ8PKs3NLuk6eGgs7uS7PG-YAm6ANh2pY4Jg&oe=63A044F8"
    alt="imagen5">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Estar a la moda empieza por tus pies. Renueva tu calzado y sé la envidia de todos!
    </h2>
  </div>
</div>
